<launch>

  <!-- Debug -->  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

  <!-- load robot params -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find slim_description)/urdf/slim.urdf.xacro'" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find slim_moveit_config)/launch/planning_context.launch" />

  <!-- Start the block grasping -->
  <node name="demo_pick_place" launch-prefix="$(arg launch_prefix)" pkg="slim_pick_place"
	type="demo_pick_place" output="screen" args="$(arg command_args)">
    <param name="ee_group_name" value="gripper_group"/>
    <param name="planning_group_name" value="arm"/>
    <rosparam command="load" file="$(find slim_moveit_config)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find moveit_simple_grasps)/config/clam_grasp_data.yaml"/>
  </node>   

</launch>
