<!-- -*- mode: XML -*- -->
<launch>

  <!-- Low level simulator -->
  <include file="$(find slim_bringup)/launch/lowlevel_simulator.launch" />

  <!-- MoveIt -->
  <include file="$(find slim_moveit_config)/launch/move_group.launch" />

  <!-- Rviz -->
  <include file="$(find slim_moveit_config)/launch/moveit_rviz.launch" />

</launch>
