<launch>

  <!-- To playback from a log, set bag=true and provide a path to bag file -->
  <arg name="bag" default="false" />
  <arg name="path" default="" />

  <!-- RGBD camera driver -->
  <include file="$(find openni2_launch)/launch/openni2.launch" unless="$(arg bag)">
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- Bag file playback -->
  <include file="$(find slim_perception)/launch/playback_bag.launch" if="$(arg bag)">
    <arg name="path" value="$(arg path)" />
  </include>

  <!-- Main Point Cloud Perception Processing node -->
  <!-- include file="$(find slim_perception)/launch/processor.launch" -->

  <!-- Point cloud matcher node -->
  <node name="cloud_matcher" pkg="slim_perception" type="cloud_matcher">
    <param name="topic" value="/camera/depth_registered/points" />
    <param name="model_file_path" value="/home/robomakery/data/StefanHinterstoisser/glue/mesh.ply" />
    <param name="voxel_size" value="0.01" />
  </node>

<!--
  <node pkg="tf" type="static_transform_publisher" name="camera_base_link_broadcaster"
        args="1 0 0 0 0 0 1 base_link camera_link 100" />
-->
</launch>
